<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Colegio Humbolt-Excelencia en Educación</title>

 <!-- Bootstrap core CSS -->
 {% load static %}
 <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

 <!-- Custom fonts for this template -->
 {% load static %}
 <script src="https://kit.fontawesome.com/20ca054ebc.js" crossorigin="anonymous"></script>
 <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
 <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

 <!-- Custom styles for this template -->
 {% load static %}
 <link href="{% static 'core/css/nosotros.css' %}" rel="stylesheet">

</head>

<body id="page-top">

 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Colegio Humbolt</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'comunidad' %}">Comunidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" style='color:white'  href="#postular">Admisión 2020</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'documento:documento' %}">Solicitudes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'inscripcion:inscripcion' %}">Inscripcion</a>
          </li>
        <li>
            <li class="nav-item">
                {% load static %}
              <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><i class="fas fa-user usuario" style="color:white"></i></a>
            </li>

            <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa fa-window-close" style="color:white"></i></a>
          </li>


      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
    <img class= "masthead" src="{% static 'core/img/principal5.jpg' %}" width="100%" height="900px">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>

      <div class="botones" >
        <div class="row">
          <div class="col-lg-12 text-center">

          </div>
        </div>
      </div>
    </div> 
  </div>
</header>

<!-- Services -->
<section class="page-section" id="admision">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-uppercase" id="postular">Postular</h2>
        <h3 class="section-subheading text-muted">Postula a tu representado para que sea parte de nuestra instutución.</h3>
      </div>
    </div>

    <h4 class="service-heading representante" >Datos Representante</h4>

        <form action="/action_page.php" class="was-validated">
          <div class="form-group">
            <label>Rut:</label>
            <input type="text" class="form-control rut" placeholder="Ingresa Rut" name="rut" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Por favor Ingresar dato.</div>
          </div>
          <div class="form-group">
            <label >Nombres:</label>
            <input type="text" class="form-control nombres" placeholder="Ingresar Nombres" name="nombres" required>
          </div>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Por favor Ingresar dato...</div>
          <!-- Apellido -->         
          <div class="form-group">     
            <label>Apellidos</label>
            <input type="tExt" class="form-control apellidos" name="apellido" placeholder="Ingresar Apellidos" required>
          </div>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Por favor Ingresar dato...</div>

          <!-- Direccion -->
          <div class="form-group"> 
            <label  class="control-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccio" placeholder="Calle, Numero Casa/Depto" required>
          </div>     
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Por favor Ingresar dato...</div>
          <!--Comuna-->              
          <div class="form-group">
            <label  class="control-label">State</label>
            <select class="form-control" id="state_id" >
             <option value="AL">Estacion Central</option>
             <option value="PR">Providencia</option>
             <option value="HC">Huechuraba</option>
             <option value="SC">Santiago Centro</option>
             <option value="MA">Maipu</option>
             <option value="RE">La Reina</option>                 
           </select>       
         </div>
         <div class="valid-feedback">Valid.</div>
         <div class="invalid-feedback">Seleccione un comuna.</div>
         <!--Email-->     
         <div class="form-group">
          <label class="control-label">Email</label>
          <input name="email" type="email" placeholder="Email Address" class="form-control mail-rep" required>
        </div>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Ingrese correo eléctronico.</div>
        <!--Teléfono-->     
        <div class="form-group">
         <label class="control-label">Teléfono</label>
         <input  name="phone" type="text" placeholder="Teléfono" class="form-control phone" required>
       </div>
       <div class="valid-feedback">Valid.</div>
       <div class="invalid-feedback">Ingrese numero teléfonico.</div>

      <div class="form-group">
       <h4 class="service-heading postulante">Datos Postulante</h4>
     </div>

       <div class="form-group">
        <label>Rut:</label>
        <input type="text" class="form-control" id="rut" placeholder="Ingresa Rut" name="rut" required>
      </div>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Por favor Ingresar dato.</div>

      <div class="form-group">
        <label>Nombres:</label>
        <input type="text" class="form-control" id="nombres" placeholder="Ingresar Nombres" name="nombres" required>
      </div>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Por favor Ingresar dato..</div>
      <!-- Apellido -->         
      <div class="form-group">     
        <label>Apellidos</label>
        <input type="tExt" class="form-control" id="apellido_rep" name="apellido" placeholder="Ingresar Apellidos" required>
      </div>  
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Por favor Ingresar dato..</div>

      <!-- Fecha de Nacimiento-->
      <div class="form-group">
        <label class="control-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="fecha-rep" required>
      </div>  
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Por favor Ingresar dato...</div>

      <!--Comuna-->              
      <div class="form-group">
        <label class="control-label">State</label>
        <select class="form-control" id="ciclo" >
          <option value="KIN">Pre-Kinder</option>
          <option value="B1">Básico 1</option>
          <option value="B2">Básico 2</option>
          <option value="B3">Básico 3</option>
          <option value="B4">Básico 4</option>
          <option value="B5">Básico 5</option>
          <option value="B5">Básico 6</option>
          <option value="B7">Básico 7</option>
          <option value="B8">Básico 8</option>
          <option value="M1">Medio 1</option>
          <option value="M2">Medio 2</option>
          <option value="M3">Medio 3</option>
          <option value="M4">Medio 4</option>               
        </select>     
      </div>      
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Seleccione un comuna.</div>

      <!--Promedio-->     
      <div class="form-group"> <!--Promedio-->
        <label class="control-label">Promedio</label>
        <input type="number" class="form-control" id="promedio" name="promedio"  min="1" max="7" step="0.1">
      </div>  
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Seleccione un comuna.</div>


      <div class="form-group">
       <h4 class="service-heading postulante">Docuemntos</h4>
     </div>

       <div class="form-group">
        <label>Adjuntar Rut:</label>
        <br>
        <input type="file" id="rut-doc" name="rut">
      </div>
<br>
        <div class="form-group">
        <label>Adjuntar Notas:</label>
        <br>
        <input type="file" id="notas" name="notas">
      </div>



      <div class="form-group col-lg-12 text-center">
        <button type="submit" id="enviar-pos" class="btn btn-primary btn-lg enviar">Enviar</button>
      </div>
</form>
</div>
</section>


      <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contactanos</h2>
          <h3 class="section-subheading text-muted">Envianos un mensaje para poder ayudarte.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Nombre *" required="required" data-validation-required-message="Ingresar nombre.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Email *" required="required" data-validation-required-message="Ingresa tu correo electrónico.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Teléfono *" required="required" data-validation-required-message="Ingresa número de teléfono.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Mensaje *" required="required" data-validation-required-message="Ingresar Mensaje."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase enviar" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Your Website 2019</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
   {% load static %}
  <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contacto JavaScript -->
  {% load static %}
  <script src="{% static 'core/js/jqBootstrapValidar.js' %}"></script>
  {% load static %}
  <script src="{% static 'core/js/contacto.js' %}"></script>

  <!-- NavBar -->
  {% load static %}
  <script src="{% static 'core/js/colegio.js' %}"></script>

  </body>
</html>
