<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Colegio Humbolt-Excelencia en Educación</title>

 <!-- Bootstrap core CSS -->
 {% load static %}
 <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

 <!-- Custom fonts for this template -->
 {% load static %}
 <script src="https://kit.fontawesome.com/20ca054ebc.js" crossorigin="anonymous"></script>
 <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
 <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

 <!-- Custom styles for this template -->
 {% load static %}
 <link href="{% static 'core/css/nosotros.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Colegio Humbolt</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'nosotros' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style='color:white' href="#comunidad">Comunidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'admision' %}">Admisión 2020</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'documento:documento' %}">Solicitudes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'inscripcion:inscripcion' %}">Inscripcion</a>
            </li>

            <li class="nav-item">
                {% load static %}
              <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><i class="fas fa-user usuario" style="color:white"></i></a>
            </li>

            <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa fa-window-close" style="color:white"></i></a>
          </li>


        </ul>
      </div>
    </div>
  </nav>


  <!-- Header -->
<header class="masthead">
    <div class="carrusel">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'core/img/carruse6.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'core/img/carrusel3.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'core/img/carrusel7.jpg' %}" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   </div>
  </header>


<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" id="comunidad">Comunidad</h2>
          <h3 class="section-subheading text-muted text-justified">Entendemos que tu hijo necesita ser formado tanto en la instución como en su hogar, te brindamos cursos y talleres de refuerso pedagógico. Podrás Participar de forma virtual como presencial, nos adaptamos a tus tiempos, lo importante es poder ayudar al grupo familiar.</h3>
      </div>
    </div>

    <div class="row somos">
      <div class="col-md-6">
       <img class="img-fluid prekinder" src="{% static 'core/img/historia.jpg' %}" alt="">
     </div>
           <div class="col-md-6 contenido">
         <h4 class="service-heading">Taller de ejercicios para trabajar con los niños con déficit de atención</h4>
          <p class="text-muted">Los profesores nos comentan que siempre se encuentran con conductas que rompen la rutina de la clase en determinados niños:  hacen ruidos constantemente, permanecen sentados con mucha dificultad y no se concentran en las tareas. Muchos han sido categorizados como alumnos 'traviesos e inquietos'.
          Hoy podemos afirmar que algunos de ellos han sido diagnosticados de TDAH o hiperactividad. Te ofrecemos una serie de ejercicios y juegos caseros para niños hiperactivos que te pueden ser de mucha utilidad..</p>
     </div>
   </div>

 <div class="row somos"> 
     <div class="col-md-6">
       <img class="img-fluid primaria" src="{% static 'core/img/mision.jpg' %}" alt="">
     </div>
     <div class="col-md-6 contenido">
              <h4 class="service-heading">Taller enseñanza en casa</h4>
          <p class="text-muted">El proceso de enseñanza debe involucrar una serie de estrategias que permitan la construcción de aprendizajes significativos y una adecuada  planeación .  Por consiguiente, el taller pedagógico es una  estrategia didáctica que integra la teoría y la práctica promoviendo en el estudiante aprendizaje significativo, el trabajo colaborativo, la toma de decisiones, el pensamiento crítico y la comunicación asertiva con la activa participación del docente y de los padres. Te invitamos a participar este 15 de Noviembre.</p>
        </div>
     </div>

     <div class="row somos"> 
     <div class="col-md-6">
        <div class="img-fluid" id="player"></div>
      <script>

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '500',
          videoId: '2Km5nLAwg7E',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }

      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
     </div>
     <div class="col-md-6 contenido">
    <h4 class="service-heading">Juegos de refuerzo escolar para niños de infantil y primaria</h4>
          <p class="text-muted">Hablar de refuerzo escolar en Educación Infantil parece precipitado. A una edad a la que los niños deberían jugar, se les empiezan a plantear enseñanzas. Sin embargo, es precisamente a través del juego como se consiguen los mejores resultados. Aprender los colores, las letras o los números es sencillo y hasta divertido, si los padres recurren a actividades lúdicas. Internet es el lugar idóneo para encontrar lo que se necesita, pero no el único. El entorno es una fuente inagotable de recursos. Juegos on line y vídeos ayudan a los progenitores a convertirse en maestros de sus hijos y ayudarles con sus primeras lecciones en un ambiente lúdico. En este artículo se detallan varios juegos para ayudar a los niños en Educación Infantil y en Primaria.
          </p>
        </div>
     </div>
   </div>
</section>

 
  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contactanos</h2>
          <h3 class="section-subheading text-muted">Envianos un mensaje para poder ayudarte.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase enviar" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 
      <!-- Bootstrap core JavaScript -->
      {% load static %}
      <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
      {% load static %}
      <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
      <!-- Plugin JavaScript -->
       {% load static %}
      <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
      <!-- Contacto JavaScript -->
      {% load static %}
      <script src="{% static 'core/js/jqBootstrapValidar.js' %}"></script>
      {% load static %}
      <script src="{% static 'core/js/contacto.js' %}"></script>
    
      <!-- NavBar -->
      {% load static %}
      <script src="{% static 'core/js/colegio.js' %}"></script>

</body>

</html>

