<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Colegio Humbolt-Excelencia en Educación</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  {% load static %}
  <script src="https://kit.fontawesome.com/20ca054ebc.js" crossorigin="anonymous"></script>
  <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'core/css/colegio.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Colegio Humbolt</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'nosotros' %}">Nosotros</a>
          </li>
          <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'comunidad' %}">Comunidad</a>
          </li>
          <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'admision' %}">Admisión 2020</a>
          </li>
          <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'documento:documento' %}">Solicitudes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'inscripcion:inscripcion' %}">Inscripción</a>
            </li>

            <li class="nav-item">
                {% load static %}
              <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><i class="fas fa-user usuario" style="color:white"></i></a>
            </li>


            <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa fa-window-close" style="color:white"></i></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <!--Login con validación-->
  <div id="modalPassword" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Recuperar Contraseña</h3>
          <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <p>Se enviará la contraseña a tu mail.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="enviar">Enviar</button>
          <button class="btn btn-primary" data-dismiss="modal" id="cerrar" aria-hidden="true">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="masthead">
      <img class= "masthead" src="{% static 'core/img/primera2.jpg' %}" width="100%" height="900px">
    <div class="container">
      <div class="intro-text">
       <div class="intro-heading text-uppercase">Bienvenido</div>

       <div class="botones" >
        <div class="row">
          <div class="col-lg-12 text-center">
            <a class="btn btn-primary  btn-xl text-uppercase js-scroll-trigger col-md-4 curso " href="#services">Ciclos</a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger col-md-4 pago" href="#portfolio">Cursos</a>
            <a class="btn btn-primary  btn-xl text-uppercase js-scroll-trigger col-md-4 profesor" href="#about">Profesores</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
</header>

<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Ciclos</h2>
        <h3 class="section-subheading text-muted">Tenemos como proyecto formar individuos integrales, aptos para la vida y sus desafíos, responsables de sí mismos y de contribuir genuinamente con el desarrollo del conocimiento al servicio de la sociedad. En definitiva, sujetos con las competencias para aprender a conocer, a vivir con otros, a hacer y a ser.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
       <img class="rounded-circle img-fluid prekinder" src="{% static 'core/img/niño1.jpg' %}" alt="">
       <h4 class="service-heading">Pre-kinder</h4>
       <p class="text-muted">Nos ocupamos de la formación de niñas y niños desde los 0 años, esta etapa fundamental para su desarrollo futuro en el despliegue de todas sus potencialidades.</p>
     </div>
     <div class="col-md-4">
       <img class="rounded-circle img-fluid primaria" src="{% static 'core/img/niño2.jpg' %}" alt="">
       <h4 class="service-heading">Primaria</h4>
       <p class="text-muted">Para el logro de su identidad personal y social, ejercer la ciudadanía y desarrollar actividades laborales y económicas que le permitan organizar su proyecto de vida y contribuir al desarrollo del país.</p>
     </div>
     <div class="col-md-4">
       <img class="rounded-circle img-fluid secundaria" src="{% static 'core/img/niño4.jpg' %}" alt="">
       <h4 class="service-heading">Secundaria</h4>
       <p class="text-muted">En la enseñanza media ofrecemos un programa mucho más especializado, preparando a los jovenes para la universidad o para desempeñar una profesión.</p>
     </div>
   </div>
 </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light page-section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Cursos Opcionales</h2>
        <h3 class="section-subheading text-muted">Nuestros estudaintes podrán escojer entre los diversos cursos, donde podrán desarrollar sus actividades favoritas.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'core/img/musica.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Música</h4>
            <p class="text-muted">Arte</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'core/img/diseñoweb.jpg' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Diseño Web</h4>
            <p class="text-muted">Diseño e Informática</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'core/img/contabilidad2.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Contabilidad</h4>
          <p class="text-muted">Administración</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'core/img/idioma.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Idiomas</h4>
          <p class="text-muted">Idiomas</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'core/img/escritura.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Escritura</h4>
          <p class="text-muted">Literatura</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'core/img/idioma.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Pintura</h4>
          <p class="text-muted">Arte</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Profesores</h2>
        <h3 class="section-subheading text-muted">El Colegio Humbolt fomenta el respeto y la integración a través de la convivencia diaria, nuestro cuerpo docente tiene un rol destacado para llevar a la práctica diaria los valores del colegio. De allí que nuestro profesorado se destaca por su compromiso con la formación integral del alumno, su constante perfeccionamiento profesional y personal, su compromiso con el trabajo en equipo y en el apoyo a todas las actividades del colegio.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'core/img/profesor5.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2016</h4>
                <h4 class="subheading">Alejandra Gongalves</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Pedagoga, especialista en el área de parvulos, especialización en educación especial.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'core/img/profesor1.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Maryo 2013</h4>
                <h4 class="subheading">Mary Smith</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Profesional en el área de idiomas, dominalndo 5 (ingles, español, frances, aleman y portuguez), la educador Mary es la persan encargada organiza el proyecto de intercambio y edu</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'core/img/profesor2.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017</h4>
                <h4 class="subheading">Carla Ruiz</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Matemática graduada en la Universidad de Oxford Reino Unido, con especialización en pedagogía.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'core/img/profesor4.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2014</h4>
                <h4 class="subheading">Carlos Jerez</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Profesor de Eduación física, especializado en actividades</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Se Parte
                <br>De Nuestro
                <br>Equipo</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Directiva</h2>
          <h3 class="section-subheading text-muted">Lideres de la Institución</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'core/img/director.jpg' %}" alt="">
            <h4>Rodrigo Suarez</h4>
            <p class="text-muted">Director</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'core/img/subdirectora.jpg' %}" alt="">
            <h4>Sandra Rojas</h4>
            <p class="text-muted">Sub-Directora</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'core/img/secretaria.jpg' %}" alt="">
            <h4>Sofia Loresa</h4>
            <p class="text-muted">Secretaria</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contactanos</h2>
          <h3 class="section-subheading text-muted">Envianos un mensaje para poder ayudarte.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Nombre *" required="required" data-validation-required-message="Ingresar nombre.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Email *" required="required" data-validation-required-message="Ingresa tu correo electrónico.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Teléfono *" required="required" data-validation-required-message="Ingresa número de teléfono.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Mensaje *" required="required" data-validation-required-message="Ingresar Mensaje."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase enviar" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Frande Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Politica de Privacidad</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terminos y condiciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Cursos Adicionales -->

  <!-- Musica -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Música</h2>
                <p class="item-intro text-muted">Casa de la música</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'core/img/musica.jpg' %}" alt="">
                <p>Nuestros estudiante podrán esoger entre los diversos intrumentos musicales, contamos con los profesores más especializados en el área.</p>
                <ul class="list-inline">
                  <li>Ínscripciones: Enero 2020</li>
                  <li>Música</li>
                  <li>Profesor: Gustavo Maldonado</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Diseño Web -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Diseño Web</h2>
                <p class="item-intro text-muted">Ofrecemos este programa de diseño y programación Web.</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'core/img/diseñoweb.jpg' %}" alt="">
                <p>Con este curso continuo los estudiantes tendrán la opción de aprende a programar, crea plataformas de comercio electrónico, domina los lenguajes de código, design, herramientas de arquitectura, bases de datos y más..</p>
                <ul class="list-inline">
                  <li>Inscripciones: Enero 2020</li>
                  <li>Informática</li>
                  <li>Profesor: José Núñez</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contabilidad -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Contabilidad</h2>
                <p class="item-intro text-muted">Ofrecemos un programa administrativo muy completos para nuestros alumnos..</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'core/img/contabilidad2.jpg' %}" alt="">
                <p>En este programa, nuestros alumnos tendrán las condiciones de: distinguir y confección distintos tipos de informes y documentación técnica que se utiliza en la contabilidad, que son exigidos por la legislación tributaria chilena.</p>
                <ul class="list-inline">
                  <li>Inscripciones: Enero 2020</li>
                  <li>Administración</li>
                  <li>Profesor: Carlos Diaz</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Idiomas -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Programa de Idiomas</h2>
                <p class="item-intro text-muted">Nuestros alumnos tedrán la competencia de salir dominando mas de dos idiomas</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'core/img/idioma.jpg' %}" alt="">
                <p>Comprometidos con el desarrollo de nuestros alumnos. Gracias a nuestra experiencia en capacitación flexible, hemos desarrollado cursos de frances, aleman y portuguez. Contamos con 7 niveles de estudio.</p>
                <ul class="list-inline">
                  <li>Inscripciones: Enero 2020</li>
                  <li>Idiomas</li>
                  <li>Profesora: Mary Smith/Jhon Calvin</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Escritura -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Escritura y filosofía</h2>
                <p class="item-intro text-muted">Programa dedicado a la escritura y lectura de filosofía</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'core/img/escritura.jpg' %}" alt="">
                <p>El objetivo principal de este programa es incentivar la creatividad y el estilo propio. Nuestros alumnos aprenderán a escribir con claridad, a conocer los mecanismos esenciales de una narración, a hacer un uso creativo de la memoria y de la fantasía y a construir una historia que seduzca al lector.</p>
                <ul class="list-inline">
                  <li>Inscripciones: Enero 2020</li>
                  <li>Lietratura</li>
                  <li>Profesor: ignacio Beltran</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pintura -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Pintura</h2>
                <p class="item-intro text-muted">Creatividad para nuestros alumnos</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'core/img/Pintuta.jpg' %}" alt="">
                <p>Este programa explotamos la creatividad de nuestros alumnos, contamos con varios niveles.</p>
                <ul class="list-inline">
                  <li>Inscripciones: Enero 2020</li>
                  <li>Profesor: Victor Martinez</li>
                  <li>Arte</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Bootstrap core JavaScript -->
      {% load static %}
      <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
      {% load static %}
      <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
      <!-- Plugin JavaScript -->
       {% load static %}
      <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
      <!-- Contacto JavaScript -->
      {% load static %}
      <script src="{% static 'core/js/jqBootstrapValidar.js' %}"></script>
      {% load static %}
      <script src="{% static 'core/js/contacto.js' %}"></script>
    
      <!-- NavBar -->
      {% load static %}
      <script src="{% static 'core/js/colegio.js' %}"></script>

</body>

</html>
