<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Colegio Humbolt-Excelencia en Educación</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  {% load static %}
  <script src="https://kit.fontawesome.com/20ca054ebc.js" crossorigin="anonymous"></script>
  <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'core/css/nosotros.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Colegio Humbolt</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style='color:white' href="{% url 'nosotros' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'comunidad' %}">Comunidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'admision' %}">Admisión 2020</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'documento:documento' %}">Solicitudes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'inscripcion:inscripcion' %}">Inscripcion</a>
            </li>
            <li class="nav-item">
                {% load static %}
              <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><i class="fas fa-user usuario" style="color:white"></i></a>
            </li>


            <li class="nav-item">
              {% load static %}
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa fa-window-close" style="color:white"></i></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <!--Login con validación-->
  <div id="modalPassword" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Recuperar Contraseña</h3>
          <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <p>Se enviará la contraseña a tu mail.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="enviar">Enviar</button>
          <button class="btn btn-primary" data-dismiss="modal" id="cerrar" aria-hidden="true">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Header -->
<header class="masthead">
    <img class= "masthead" src="{% static 'core/img/primera4OP1.jpg' %}" width="100%" height="900px">
    <div class="container">
      <div class="intro-text">
       <div class="intro-heading nosotros">Conoce un poco de nosotros...</div>
     </div>
   </div>
  </header>


<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Quienes Somos</h2>
      </div>
    </div>

    <div class="row somos">
      <div class="col-md-6">
       <img class="img-fluid prekinder" src="{% static 'core/img/historia.jpg' %}" alt="">
     </div>
           <div class="col-md-6 contenido">
         <h4 class="service-heading">Historia</h4>
          <p class="text-muted">Desde 1970 venimos desarrollando un trabajo comprometido y de calidad que nos ha posicionado a nivel comunal y regional como colegios líderes y de gran prestigio. En esta tarea ha sido clave el destacado cuerpo docente con el que contamos, compuesto por profesionales de la educación altamente capacitados y un valorable equipo de asistentes y técnicos de las más diversas áreas..</p>
     </div>
   </div>

 <div class="row somos"> 
     <div class="col-md-6">
       <img class="img-fluid primaria" src="{% static 'core/img/mision.jpg' %}" alt="">
     </div>
     <div class="col-md-6 contenido">
          <h4 class="service-heading">Mision</h4>
          <p class="text-muted">Busca formar hombres y mujeres para los demás, ayudando al crecimiento de personas conscientes, competentes, compasivas y comprometidas que encarnen el diálogo de la fe con la cultura y su enriquecedora diversidad, especialmente alimentada por el hecho de estar ubicados en el corazón del gran Santiago.
          </p>
        </div>
     </div>

     <div class="row somos"> 
     <div class="col-md-6">
       <img class="img-fluid primaria" src="{% static 'core/img/vision.jpg' %}" alt="">
     </div>
     <div class="col-md-6 contenido">
          <h4 class="service-heading">Visión</h4>
          <p class="text-muted">Buscamos propiciar aprendizajes con calidad y equidad en sus alumnos, por lo que junto a la formación académica, promueve una fuerte formación pastoral y religiosa y un serio interés por el desarrollo cultural, deportivo y tecnológico de sus niños y jóvenes.
          </p>
        </div>
     </div>
   </div>
</section>

 
  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contactanos</h2>
          <h3 class="section-subheading text-muted">Envianos un mensaje para poder ayudarte.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase enviar" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 
       <!-- Bootstrap core JavaScript -->
       {% load static %}
       <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
       {% load static %}
       <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
     
       <!-- Plugin JavaScript -->
        {% load static %}
       <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
     
       <!-- Contacto JavaScript -->
       {% load static %}
       <script src="{% static 'core/js/jqBootstrapValidar.js' %}"></script>
       {% load static %}
       <script src="{% static 'core/js/contacto.js' %}"></script>
     
       <!-- NavBar -->
       {% load static %}
       <script src="{% static 'core/js/colegio.js' %}"></script>

</body>

</html>