{% extends 'base/base.html' %}

{% block content %}     

    <div class="container table-responsive table-responsive-xl">
        <table class="table table-striped">
            <thead>
                <th>Rut Representante</th>
                <th>Email</th>
                <th>Rut Alumno</th>
                <th>Nombre Alumno</th>
                <th>Apellido Alumno</th>
                <th>Fecha Nacimiento Alumno</th>
                <th>Grado</th>
                <th>Promedio</th>                     
            </thead>

            <tbody>
                {% if object_list %}
                {% for admision in object_list %}

                <tr>
                    <td>{{admision.rut_representante}}</td>
                    <td>{{admision.email}}</td>
                    <td>{{admision.rut_alumno}}</td>
                    <td>{{admision.nombre_alumno}}</td>  
                    <td>{{admision.apellido_alumno}}</td>
                    <td>{{admision.fechaNacimiento}}</td>
                    <td>{{admision.grado}}</td>  
                    <td>{{admision.promedio}}</td>                                        
                    <td>
                        <a class="btn btn-primary">Editar</a>
                        <a class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <h1>Admision no registrada</h1>
                {% endif %}
            </tbody>
        </table>
    </div>    
{% endblock %}