<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Colegio Humbolt-Excelencia en Educación</title>

<!-- Custom styles for this template -->
{% load static %}
<link href="{% static 'core/css/loginn.css' %}" rel="stylesheet">


</head>


<body>
 
  <div class="login-texto">
    <h2>Bienvenidos a School Web</h2>
  </div>  


<br>
<br>

<div>
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}

    {{ form.password.label_tag }}
    {{ form.password }}

    {{ form.errors }}
  
    <input type="submit" value="Entrar">
 
  </form>
</div>

<div class="texto">
  <h4>Es necesario que ingrese a su sesión para acceder a más información sobre las inscripciones.</h4>
</div> 

</body>
</html>
