{% extends 'base/base.html' %}

{% block content %}     

    <div class="container col-lg-8">
        <form method="post" class="form-group was-validated page-section">
            {% csrf_token %}
            <h3>Desea eliminar la Solicitud número {{ object.id }} documento {{ object.tipoDocumento }}?</h3>
            <br>
            <div class="col-lg-4">
                <button type="submit" id="enviar-pos" class="btn btn-primary btn-lg enviar">Si Eliminar</button>
                <a class="btn btn-default" href="{% url 'documento:documento_listar'%}">Cancelar</a>
            </div>
        </form>
    </div>    
{% endblock %}