{% extends 'base/base.html' %}

{% block content %}     

    <div class="container table-responsive table-responsive-ms">
            <h3>Solciitudes registradas</h3>
            <br>
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Fecha Solicitud</th>
                <th>Rut Alumno</th>
                <th>Documento</th>
                <th>Emisión</th>
                <th>Comentario</th>                
                <th>Acciones</th>              
            </thead>

            <tbody>
                {% if object_list %}
                {% for documento in object_list %}

                <tr>                        
                    <td>{{ documento.id}}</td>
                    <td>{{ documento.fechaSolicitud}}</td>
                    <td>{{ documento.rut}}</td>
                    <td>{{ documento.tipoDocumento}}</td>
                    <td>{{ documento.emision}}</td>                    
                    <td>{{ documento.comentario}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'documento:documento_editar' documento.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'documento:documento_eliminar' documento.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <h1>No hay solciitudes registradas</h1>
                {% endif %}
            </tbody>
        </table>
    </div>    
{% endblock %}                