{% extends 'base/base.html' %}

{% block content %}     

    <div class="container table-responsive table-responsive-ms">
        <h3>Cursos opcionales inscritos</h3>
        <br>
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Fecha Inscripcion</th>
                <th>Rut</th>
                <th>Curso</th>
                <th>Acciones</th>              
            </thead>

            <tbody>
                {% if object_list %}
                {% for inscripcion in object_list %}

                <tr>                        
                    <td>{{ inscripcion.id}}</td>
                    <td>{{ inscripcion.fechaInscrip}}</td>
                    <td>{{ inscripcion.rut}}</td>
                    <td>{{ inscripcion.nombre}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'inscripcion:inscripcion_editar' inscripcion.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'inscripcion:inscripcion_eliminar' inscripcion.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <h1>No hay cursos inscritos</h1>
                {% endif %}
            </tbody>
        </table>
    </div>    
{% endblock %}