/*!
 * Start Bootstrap - Agency v5.2.1 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */
 body{
	overflow-x:hidden;
	font-family:Arial,sans-serif;
}

p{
	line-height:1.75;
}

a{
	color:#fed136;
}

a:hover{
	color:#fec503;
}

.text-primary{
	color:#fed136!important;
}

h1,h2,h3,h4,h5,h6{
	font-weight:700;
	font-family:Arial,sans-serif;
}

.page-section{
	padding:100px 0;
}

.page-section h2.section-heading{
   font-size:40px;
   margin-top:0;
   margin-bottom:15px;
}

.page-section h3.section-subheading{
   font-size:16px;
   font-weight:400;
   font-style:italic;
   margin-bottom:75px;
   text-transform:none;
   font-family:'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,
   sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

#dropdownMenu1{
   background: rgba(1, 33, 60, 0.8);
   border-radius: 100px 100px 100px 100px;
   -webkit-border-radius: 100px 100px 100px 100px;
   margin-top: 7px;
   }	

.usuario, .dropdown-toggle{
   color:#bf9751;
   font-size:  15px;
   padding: 2px 10px 2px 10px;
}

.form, .recuperar{
   width: 150px;
   font-size: 10px;
   color: #01213c;
}

#entrar, #enviar, #cerrar{
   background-color: #bf9751;
   border-color:#01213c;
   border-width: 3px;
   margin-bottom: 5px;
   font-size: 12px;
}

a{
   color:white;
}

a:link {
text-decoration:none;
}

a:hover{
   color: white;
}

.img-fluid{
	   border:  8px double #bf9751;
	   margin-left: 0;
	   width: 400px;
	   height: 300px;
}

.exito{
   margin-top: 50px;
   text-align: center;
   padding: 30 px;
}

@media (min-width:768px){
   section{
	   padding:150px 0;
   }

}

::-moz-selection{
   background:#fed136;
   text-shadow:none;
}

::selection{
   background:#fed136;
   text-shadow:none;
}

img::-moz-selection{
   background:0 0;
}

img::selection{
   background:0 0;
}

img::-moz-selection{
   background:0 0;
}

.btn{
   font-family:Arial,sans-serif;
   margin: 0 auto;
   display: inline-block;
   /*float: inherit;*/
   }	

.btn-xl{
   font-size:12px;
   padding:20px 20px;
   width: 180px;
}	


.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
   background-color:#01213c!important;
   border-color:#bf9751!important;
   color:#fff;
}

btn-primary:active,.btn-primary:focus{
	-webkit-box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important;
	box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important;
}


.botones{
   margin-top: 425px;
}

.curso{
   margin-bottom: 5px;
   background-color:#bf9751;
   border-color:#01213c;
   border-width: 3px;

}

.pago{
   background-color: #bf9751;
   border-color:#01213c;
   border-width: 3px;
   margin-bottom: 5px;
}

.profesor, .enviar{
   background-color: #bf9751;
   border-color:#01213c;
   border-width: 3px;
   margin-bottom: 5px;
}

#mainNav{
	background-color:#01213c;
}

#submenu{
position: absolute;
background: white;
}


#mainNav .navbar-toggler{
	font-size:12px;
	right:0;
	padding:13px;
	text-transform:uppercase;
	color:#fff;
	border:0;
	background-color:#bf9751;
	font-family:Arial,sans-serif;
}

#mainNav .navbar-brand{
   color:#bf9751;
	font-family:Arial,sans-serif;
}

#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
   color:#bf9751;
}

.nav-item{
   color:#bf9751;
   font-family:Arial,sans-serif;
   font-weight: bolder;

}

#mainNav .navbar-nav .nav-item .nav-link{
   font-size:90%;
   font-weight:700;
   padding:.75em 0;
   letter-spacing:1px;
   color:#bf9751;
   font-family:Arial,sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{
   color:#fed136;
}

@media (min-width:992px) and (max-width:3000px){

img-fluid{
width: 70%;
height: 70%;
}

.botones{
   margin-top: 620px;
}

   #mainNav{
	   padding-top:5px;
	   padding-bottom:5px;
	   
	   }

	   #mainNav .navbar-brand{
	   font-size:1.75em;
	   -webkit-transition:all .3s;
	   transition:all .3s;
		   }

   #mainNav .navbar-nav .nav-item .nav-link{
	   padding:1.1em 1em!important;
   }

   #mainNav.navbar-shrink{
	   padding-top:0;
	   padding-bottom:0;
	   background-color:#01213c;
   }

   #mainNav.navbar-shrink .navbar-brand{
	   font-size:1.25em;
	   padding:12px
		0
   }
}

header.masthead{
   text-align:left;
   color:#fff;
   background-repeat:no-repeat;
   background-attachment:scroll;
   background-position:center center;
   background-size:cover;
   height: 900px;
   }

header.masthead .intro-text{
   padding-top:150px;
   padding-bottom:100px;
}

header.masthead .intro-text .intro-lead-in{
   font-size:22px;
   line-height:22px;
   margin-bottom:25px;
   font-family:Arial,sans-serif;
   }

header.masthead .intro-text .intro-heading{
   font-size:30px;
   line-height:50px;
   margin-top: 400px;
   font-family:Arial,sans-serif;
   text-align: center;
}

@media (min-width:700px) and (max-width: 1024px){

   header.masthead .intro-text{
	   padding-top:300px;
	   padding-bottom:200px;
   }

   header.masthead .intro-text .intro-lead-in{
   font-size:40px;
   line-height:40px;
   margin-bottom:25px;
   font-family:Arial,sans-serif;
   }

   header.masthead .intro-text .intro-heading{
	   font-size:65px;
	   line-height:75px;
	   margin-bottom:50px;
	   font-family:Arial,sans-serif;
   }

   .botones{
	   margin-top: 425px;
   }
}

@media (min-width:400px) and (max-width: 699px){
.container{
	width: 70%;
	height: 70%;
   }
}

@media (min-width:300px) and (max-width: 399px){
.container{
	width: 100%;
	height: 100%;
   }
}


.service-heading{
   margin:15px 0;
   text-transform:none;
}



section#contact{
   background-color:#212529;
   background-image:url(../img/map-image.png);
   background-repeat:no-repeat;
   background-position:center;
}

section#contact .section-heading{
   color:#fff;
}

.text-center{
   margin-bottom: 35px;
}

.somos{
   margin: 30px 0 50px 0;
}

.contenido{
   float: right;
   text-align: justify;
   vertical-align: middle;

}

section#contact .form-group{
   margin-bottom:25px;
}

section#contact .form-group input,section#contact .form-group textarea{
   padding:20px;
}

section#contact .form-group input.form-control{
   height:auto;
}

section#contact .form-group textarea.form-control{
   height:248px;
}

section#contact .form-control:focus{
   border-color:#fed136;
   -webkit-box-shadow:none;
   box-shadow:none;
}

section#contact ::-webkit-input-placeholder{
   font-weight:700;
   color:#ced4da;
   font-family:Arial,sans-serif;
   }

section#contact :-moz-placeholder{
   font-weight:700;
   color:#ced4da;
   font-family:Arial,sans-serif;
}

section#contact ::-moz-placeholder{
   font-weight:700;
   color:#ced4da;
   font-family:Arial,sans-serif;
}

section#contact :-ms-input-placeholder{
   font-weight:700;
   color:#ced4da;
   font-family:Arial,sans-serif;
}

.footer{
   padding:25px 0;
   text-align:center;
}

.footer span.copyright{
   font-size:90%;
   line-height:40px;
   text-transform:none;
   font-family:Arial,sans-serif;
}

.footer ul.quicklinks{
   font-size:90%;
   line-height:40px;
   margin-bottom:0;
   text-transform:none;
   font-family:Arial,sans-serif;
}

ul.social-buttons{
   margin-bottom:0;
}

ul.social-buttons li a{
   font-size:20px;
   line-height:50px;
   display:block;
   width:50px;
   height:50px;
   -webkit-transition:all .3s;
   transition:all .3s;
   color:#fff;
   border-radius:100%;
   outline:0;
   background-color:#212529;
}

ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{
   background-color:#fed136;
}